.w-dyn-items.loading .w-dyn-item {
    visibility: hidden;
}

[data-udy-fe-enabled="link_"] a * {
    pointer-events: none;
}

[udy-el="wc-variation-add-to-cart"] select {
    display: none;
}

.udy-wc-notices-wrapper a {
    display: inline-block;
}

.udy-wc-notices-wrapper {
    opacity: 0;
    transition: opacity 1s linear;
}

.udy-wc-notices-wrapper.is-ajax, .udy-wc-notices-wrapper.is-ajaxnotices-parent {
    opacity: 1;
    transition: opacity 1s linear;
}

/* bug fix for checkout notices */
.woocommerce-NoticeGroup-checkout .udy-wc-notices-wrapper {
    opacity: 1!important;
}

[udy-el="wc-cart"].empty form > *{
    display: none;
}
[udy-el="wc-cart"].empty form .w-dyn-list{
    display: inherit;
}

.woocommerce-MyAccount-content p a, .woocommerce p a {
    display: inline;
}

p.logged-in-as a {
    display: inline-block;
}

ul ul.children {
    list-style-type: inherit;
}